@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #2D2A37;
  --white: #EBEBEB;
  --gray: #6B6B6B;

  --dark-purple: #462878;
  --light-purple: #7F45E2;
}

body {
  font-family: "Rubik", monospace;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;

  color: var(--white);
  background: linear-gradient(180deg, #807ECE 0%, #8E7ECE 100%);
}

#app {
  padding: 3.375rem 2rem 2rem;

  background-color: var(--black);
  border-radius: 48px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
  0px 188px 52px rgba(0, 0, 0, 0.01),
  0px 120px 48px rgba(0, 0, 0, 0.04),
  0px 68px 41px rgba(0, 0, 0, 0.15),
  0px 30px 30px rgba(0, 0, 0, 0.26),
  0px 8px 17px rgba(0, 0, 0, 0.29),
  inset 0px 6px 8px rgba(255, 255, 255, 0.1),
  inset 0px -4px 5px rgba(0, 0, 0, 0.22);
}

#app header {
  padding-inline: 1.125rem 1.375rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#app header span,
#app header div strong{
  line-height: 140%;
  letter-spacing: -0.02em;
}

#app header > span {
  align-self: flex-end;
}

#app header span {
  font-size: 1.25rem;
  color: var(--gray);
}

#app header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#app header div strong {
  font-size: 2.25rem;
}


#app main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.75rem;

  margin-top: 1.625rem;
}

#app main button {
  all: unset;
  cursor: pointer;
  
  border-radius: 999px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%), var(--black);
  box-shadow: 0px 11px 7px rgba(0, 0, 0, 0.01),
  0px 7px 7px rgba(0, 0, 0, 0.04),
  0px 4px 6px rgba(0, 0, 0, 0.1),
  0px 2px 4px rgba(0, 0, 0, 0.26),
  0px 0px 2px rgba(0, 0, 0, 0.29),
  inset 0px 2px 3px rgba(255, 255, 255, 0.06);

  text-align: center;

  height: 4rem;
  width: 4rem;
  
  font-size: 1.5rem;
}

#app main button:hover {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.05) 100%), var(--gray);
  transition: background-color 0.2s;
}

#app main button#delete-inline {
  color: var(--light-purple);
}

#app main button:nth-child(4n) {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0.01%, rgba(255, 255, 255, 0.05) 100%), var(--dark-purple);
  box-shadow: 0px 11px 7px rgba(0, 0, 0, 0.01),
  0px 7px 7px rgba(0, 0, 0, 0.04),
  0px 4px 6px rgba(0, 0, 0, 0.1),
  0px 2px 4px rgba(0, 0, 0, 0.26),
  0px 0px 2px rgba(0, 0, 0, 0.29),
  inset 0px 2px 3px rgba(255, 255, 255, 0.1);
}

#app main button:nth-child(4n):hover {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.05) 100%), var(--light-purple);
  transition: background-color 0.2s;
}